body {
  background: #f9fcfd;
  color: #495057;
}
.weather-app {
  max-width: 800px;
  border: 1px solid #cfd8e2;
  margin: 0 auto;
  padding: 30px;
  background-color: #e2e9f3;
  border-radius: 10px;
  box-shadow: 0.3px 0.3px 0.3px #c5cdd6;
  margin-top: 25px;
}

.h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 46px;
  font-family: "Maven Pro", sans-serif;
}
.title {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 44px;
}

form {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
.search {
  border-radius: 20px 0px 0px 20px;
  padding: 4px 13px;
  border-width: thin;
  position: relative;
  right: 30px;
}

.submit {
  border-radius: 0px 20px 20px 0px;
  padding: 4px 13px;
  position: relative;
  left: -34px;
  border-width: thin;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Maven Pro", sans-serif;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-time {
  white-space: nowrap;
  font-size: 1px;
}
.date {
  font-size: 20px;
}
.clear {
  font-size: 15px;
  text-transform: capitalize;
}
.clear .description {
  white-space: nowrap;
  font-size: 16px;
}
.nine {
  font-size: 40px;
  position: relative;
  top: 5px;
}
.unit {
  margin-left: 9px;
  position: relative;
  margin-right: 10px;
  top: -12px;
  font-size: 15px;
}
.icon {
  position: relative;
  bottom: 18px;
}
.tempp {
  font-size: 18px;
}
.tempp .active {
  color: #495057;
  font-size: 18px;
  text-decoration: none;
}
.tempp .active:hover {
  text-decoration: none;
  cursor: default;
}
.days {
  text-align: center;
  margin-top: 70px;
  font-size: 18px;
  font-family: "Maven Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover:hover {
  background: #f9fcfd;
  color: #495057;
  border-radius: 10px;
}
.coded {
  font-family: PT Mono, monospace;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  position: fixed;
  bottom: 0;
  left: -25px;
  width: 100%;
}
.button-location {
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  background-color: #efefef;
  border: 1px solid #495057;
  color: #495057;
  font-size: 13px;
  line-height: 2px;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 200ms ease;
  position: relative;
  right: -145px;
  top: -55px;
}
.button-location:hover {
  color: #efefef;
  background: #495057;
}
.weather-forecast-temp-min {
  opacity: 0.8;
}
.weather-forecast-temp-max {
  color: black;
}
.weather-forecast {
  position: relative;
  right: -75px;
}
.update {
  font-size: 18px;
}
